// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

body {
    font-size: 16px;
}

// Navbar

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    margin-left: 12%;
    margin-bottom: 40px;
}

footer {
    background: #f5f5f5;
    margin-top: 40px;
    padding: 20px 0;
}
// ChangePassword Page

button.btn.btn-success {
    margin-left: 45%;
    margin-bottom: 40px;
}
.card-header h4 {
    text-align: center;
    color: green;
    font-weight: bold;
}

// User Information

.delete-edit-btn {
    display: flex;
    width: 50px;
}


// Home page

.main-content {
    .service {
        background: #f5f5f5;
        margin: 40px 0;
        padding: 40px 0;
    }
    ul {
        list-style: none;
    }
    li {
        margin-top: 7px;
    }
    svg {
        color: #38c172;
    }
    .standard {
        display: flex;
        margin: 40px 0;
        .standard-content {
            width: 60%;
        }
        .standard-image {
            margin-top: -30px;
            width: 40%;
        }
    }
    .announce {
        display: flex;
        margin: 20px 0;
        .col-md-3.col-sm-3.col-12 {
            margin: 10px 37px;
        }
    }
}

@media only screen and (max-width: 812px){
    .main-content {
        .standard {
            display: block;
            .standard-content {
                width: 100%;
            }
            .standard-image {
                margin-top: 10px;
                width: 100%;
            }
        }
        .announce {
            display: block;
        }
        
    }
}